<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.croop">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CROOP"
        tools:targetApi="31">
        <activity
            android:name=".Landing_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Roles_Activity" />
        <activity android:name=".Population_Seller_Activity" />
        <activity android:name=".Population_Customer_Activity"/>
        <activity android:name=".Group_Seller_Activity" />
        <activity android:name=".SignUp_Bulk_Activity" />
        <activity android:name=".SignUp_Bulk_Activity_2" />
        <activity android:name=".SignUp_Bulk_Activity_3" />
        <activity android:name=".SignUp_Bulk_Activity_4" />
        <activity android:name=".SignUp_Indiv_Cust_Activity" />
        <activity android:name=".SignUp_Indiv_Cust_Activity_2" />
        <activity android:name=".SignUp_Indiv_Cust_Activity_3" />
        <activity android:name=".SignUp_Indiv_Cust_Activity_4" />
        <activity android:name=".SignUp_Farm_Assoc_Activity" />
        <activity android:name=".SignUp_Farm_Assoc_Activity_2" />
        <activity android:name=".SignUp_Farm_Assoc_Activity_3" />
        <activity android:name=".SignUp_Farm_Assoc_Activity_4" />
        <activity android:name=".SignUp_Indiv_Farmer_Activity"/>
        <activity android:name=".SignUp_Indiv_Farmer_Activity_2"/>
        <activity android:name=".SignUp_Indiv_Farmer_Activity_3"/>
        <activity android:name=".SignUp_Indiv_Farmer_Activity_4"/>
        <activity android:name=".SignUp_COOP_Activity"/>
        <activity android:name=".SignUp_COOP_Activity_2"/>
        <activity android:name=".SignUp_COOP_Activity_3"/>
        <activity android:name=".SignUp_COOP_Activity_4"/>
        <activity android:name=".SignUp_MobPhone_valid" />

        <activity android:name=".SignIn_Activity"/>

        <activity android:name=".Home_Group_Seller_Activity" />
        <activity android:name=".Home_Group_Customer_Activity" />
        <activity android:name=".Home_Individual_Seller_Activity" />
        <activity android:name=".Home_Individual_Customer_Activity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>